*,
*::after,
*::before,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*************************/
/* Algemene kleurstijlen */
/*************************/
:root {
    --link-color: #7a7a7a;
    --highlighted-link-color: #8860d0;

    --light-blue-background-color: #729cd8;
    --dark-blue-background-color: #09183D;

    --button-color: #726dce;
    --highlighted-button-color: #bdb8ff;

    --bodytekst-color: #292828;
    --bodytekst: 'lato', 'arial', sans-serif;
    --titel-tekst: 'dosis', sans-serif;
}

/********************/
/* Algemene stijlen */
/********************/

body {
    font-family: var(--bodytekst);
    font-weight: normal;
}



a {
    color: var(--link-color);
    text-decoration: none;
}

p {
    color: var(--bodytekst-color);
}

li {
    list-style: none;
}


/*************/
/* Navigatie */
/*************/



header img {
    display: none;
}

header ul {

    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding: 1em;
}

header li {
    transition: 0.5s;
}

header li:hover {
    transform: translate(0, -.5em);
}

header ul a {
    font-size: 1.2em;
    transition: 1s;
}

header ul a:hover {
    transition: 1s;
    color: var(--highlighted-link-color);
}

main {
    margin: 3em auto;
    width: 80%;

}

.current-page-highlight {
    border-bottom: 0.2em solid var(--highlighted-link-color);
    color: var(--highlighted-link-color);
    padding-bottom: 0.5em;
}


footer {

    padding: 3em;

}

footer ul {
    display: flex;
    justify-content: center;
    gap: 3em;
}

@media (max-width: 38em) {
    body {
        margin: 0 auto;
        width: 100%;
    }

    header {
        z-index: 2;
        position: fixed;
        left: -10em;
        top: 0;
        bottom: 0;
        padding: 1em;
        background-color: white;

    }

    header ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        margin-top: 2em;
    }

    header img {
        display: block;
        z-index: 1;
        width: 18%;
        height: auto;
        position: absolute;
        top: 1em;
        left: 11em;
    }

    header li a {
        font-size: 1em;
    }


    .toon-menu {
        left: 0;
        top: 0;
        bottom: 0;
    }

    .annuleren-knop {
        left: 1em;
        top: 1em;
    }
}