*,
*::after,
*::before,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*************************/
/* Algemene kleurstijlen */
/*************************/
:root {
    --link-color: #7a7a7a;
    --highlighted-link-color: #8860d0;

    --light-blue-background-color: #729cd8;
    --dark-blue-background-color: #09183D;

    --button-color: #726dce;
    --highlighted-button-color: #bdb8ff;

    --bodytekst-color: #292828;
    --bodytekst: 'lato', 'arial', sans-serif;
    --titel-tekst: 'dosis', sans-serif;
}

/********************/
/* Algemene stijlen */
/********************/

body {
    font-family: var(--bodytekst);
    font-weight: normal;
}



a {
    color: var(--link-color);
    text-decoration: none;
}

p {
    color: var(--bodytekst-color);
}

li {
    list-style: none;
}


/*************/
/* Navigatie */
/*************/



header img {
    display: none;
}

header ul {

    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding: 2em;
}

header li {
    transition: 0.5s;
}

header li:hover {
    transform: translate(0, -.5em);
}

header ul a {
    font-size: 1.2em;
    transition: 1s;
}

header ul a:hover {
    transition: 1s;
    color: var(--highlighted-link-color);
}

main {
    margin: 3em auto;
    width: 80%;

}

/* Voor de links */
.btn-1 {
    cursor: pointer;
    width: 300px;
    height: 100px;
    border: none;
    color: white;

    background-color: var(--button-color);
    border-radius: 4em;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-in-out 0.3s;
    font-size: 2em;
    outline: none;

}

.btn-2 {
    cursor: pointer;

    border: none;
    color: white;
    border-radius: 0.5em;
    transition: ease-in-out 0.3s;
    font-size: 1em;
    outline: none;
    border: 3px solid rgb(136, 186, 243);
    position: relative;
    z-index: 1;
}

.btn-2:hover {
    color: rgb(21, 6, 77);

}

.btn-2::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";

    background-color: rgb(136, 186, 243);
}

.btn-2:hover::before {
    border-radius: 4em;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.btn-1:hover, .btn-1:active {
    box-shadow: inset 300px 0 0 0 #f9e506;
    color: black;
}

.current-page-highlight {
    border-bottom: 0.2em solid var(--highlighted-link-color);
    color: var(--highlighted-link-color);
    padding-bottom: 0.5em;
}


footer {

    padding: 3em;

}

footer ul {
    display: flex;
    justify-content: center;
    gap: 3em;
}

@media (max-width: 38em) {
    body {
        margin: 0 auto;
        width: 100%;
    }

    header {
        z-index: 1;
        position: fixed;
        left: -10em;
        top: 0;
        bottom: 0;
        padding: 1em;
        background-color: white;

    }

    header ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        margin-top: 2em;
    }

    header img {
        display: block;
        z-index: 1;
        width: 18%;
        height: auto;
        position: absolute;
        top: 1em;
        left: 11em;
    }

    header li a {
        font-size: 1em;
    }


    .toon-menu {
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .btn-1 {
        font-size: 1em;

    }
}