h1 {
    font-size: 3em;
    color: var(--light-blue-background-color);
}

h2 {
    color: var(--button-color);
}

h1,
h2 {
    text-align: center;
}

section {
    margin: 5em 0;
}

article {
    padding: 2em;
}

article p {
    line-height: 1.5em;
}

article p {

    margin: 0.5em 0;
}

article p:last-of-type {
    margin-bottom: 2em;
}

/* Mijn naam */
/**************/
/* Section: 1 */
/**************/
section:nth-of-type(1) p {
    margin: 0.5em 0;
    text-align: center;
}

/* Wie ben ik */
/*************/
/* section 2 */
/*************/
section:nth-of-type(2) a {

    font-size: 1.5em;
    font-weight: bold;
    padding: .5em 1em;
}

/* Vaardigheden */
/*************/
/* Section 3 */
/*************/
section:nth-of-type(3) {
    position: relative;

    padding: 3em;

    background-color: #09183D;
    border-radius: 2em;
    ;
}

.container {
    /* width: 380px; */
    background: #fff;
    /* margin: 150px auto; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 16px 97px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 16px 97px 10px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 16px 97px 10px rgba(0, 0, 0, 0.35);
}

@keyframes load {
    from {
        width: 0%;
    }
}

@-moz-keyframes load {
    from {
        width: 0%;
    }
}


@-webkit-keyframes load {
    from {
        width: 0%;
    }
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.box {
    list-style: none;
    margin: 0;
    padding: 0;

}

.box li h5 {
    color: var(--button-color);
    margin: 1em 0 0.4em 0;
}

.bar {
    height: 18px;
    background-color: #eee;
    margin-bottom: 15px;
    border-radius: 15px;
}

.bar::before {
    content: "";
    border-radius: inherit;
    background: linear-gradient(100deg,
            hsl(230deg 49% 84%) 0%,
            hsl(224deg 54% 82%) 10%,
            hsl(219deg 57% 81%) 20%,
            hsl(216deg 61% 79%) 31%,
            hsl(213deg 63% 77%) 43%,
            hsl(210deg 66% 76%) 54%,
            hsl(208deg 69% 74%) 65%,
            hsl(206deg 71% 72%) 75%,
            hsl(204deg 73% 70%) 84%,
            hsl(202deg 75% 67%) 93%,
            hsl(201deg 77% 65%) 100%);

    display: inline-block;
    padding: 8px;
    animation: load 3s 0s;
    -webkit-animation: load 3s 0s;
    -moz-animation: load 3s 0s;

}

.bar.bar1::before {
    width: calc(95% - 10px);
}

.bar.bar2::before {
    width: calc(85% - 10px);
}

.bar.bar3::before {
    width: calc(55% - 10px);
}

/* Programma's */
/*************/
/* Section 4 */
/*************/
.skills {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 10% auto;
    width: 60%;
    flex-wrap: wrap;

}

section:nth-of-type(4) figure {

    display: flex;

    align-items: center;
    justify-content: center;
    font-size: 3em;
    border-radius: 0.3em;
    text-align: center;
    width: 100px;
    height: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

}

section:nth-of-type(4) h5 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding-top: 1em;
    color: #292828;
}

/*  Elke Adobe Logo krijgt hun eigen kleur*/
.illustrator {
    background-color: #300;
    color: #ff9a00;
}

.xd {
    background-color: #470137;
    color: #ff61f6;
}

.photoshop {
    background-color: #001e36;
    color: #31a8ff;
}

.after-effects {
    color: #CF96FD;
    background-color: #00005B;
}

.premiere {
    color: #99f;
    background-color: #00005b;
}

/*************/
/* Section 5 */
/*************/


/*************/
/* Section 6 */
/*************/
section:nth-of-type(6) {
    display: flex;
    flex-direction: column;
    align-items: center;


}

section:nth-of-type(6) li {

    display: flex;
    gap: 2em;
}


section:nth-of-type(6) li a {
    align-self: flex-end;
}

section:nth-of-type(6) ul img {
    width: 1.5em;
    height: auto;

}

/*******************/
/*     The circles */
/*******************/

.circle-gradients {
    background: rgb(2, 0, 36);
    background: linear-gradient(162deg, rgba(2, 0, 36, 1) 0%, rgba(193, 200, 234, 1) 0%, rgb(95, 186, 234) 100%);
    border-radius: 50%;
    position: absolute;
}



.circle-1 {
    height: 250px;
    width: 250px;
    top: -8.5em;
    left: -8.5em;
    z-index: -1;
}


.circle-2 {
    height: 150px;
    width: 150px;
    right: 3em;
    z-index: -1;
    top: 1em;
}

.circle-3 {
    z-index: 1;
    height: 50px;
    width: 50px;
    top: 35em;
    right: 3em;

    /* background-image: url(../images/me-right-sider.png);
    background-repeat: no-repeat; }*/
}

/* 
.circle-3 img {
    max-width: 55%;
    width: 50%;
    height: auto;
}


.circle-4 {
    height: 350px;
    width: 350px;
    bottom: -55em;
    left: 5em;
}

.circle-5 {
    height: 350px;
    width: 350px;
    bottom: -65em;
    left: 50em;
}

*/

.circle-code-pic figure {
    object-fit: contain;
    background-image: url(../images/artboard-1.png);
    background-repeat: no-repeat;
    clip-path: circle(50% at 50% 50%);
    position: absolute;


}

.circle1 {
    background-position: 45% 35%;
    background-size: 30em;
    height: 150px;
    width: 150px;
    right: 4em;
    top: 4em;
    z-index: 1;
}

/* .circle2 {
    background-position: 75% 35%;
    background-size: 60em;
    height: 400px;
    width: 400px;
    right: -4em;
    top: 70em;
    z-index: -1;
}

.circle3 {
    background-position: 55% 35%;
    background-size: 60em;
    height: 200px;
    width: 200px;
    transform: translateY(23em);
    left: -4em;
    z-index: 1;

} */

@media(min-width: 68em) {
    h1 {
        text-align: initial;
        font-size: 5em;
    }

    h2 {
        font-size: 2.5em;
    }

    article p {
        line-height: 1.8em;
    }

    article p:last-of-type {
        margin-bottom: 2em;
    }

    /* Mijn naam */
    /****************/
    /*    Section 1 */
    /****************/

    section:nth-of-type(1) {
        display: flex;
        gap: 2em;
        align-items: center;
    }

    section:nth-of-type(1) span {
        display: block;
    }


    img[alt="foto van Keisha"] {
        width: 30%;
    }

    section:nth-of-type(1) p {
        text-align: initial;
        margin: 0.3em;
        font-size: 2em;
    }

    /* Wie ben ik */
    /**************/
    /* Section 2  */
    /**************/
    section:nth-of-type(2) {
        display: flex;
        gap: 2em;
    }

    img[alt="Mijn eigenschappen"] {
        width: 45%;
    }

    section:nth-of-type(2) h2 {
        text-align: left;
    }

    /* Vaardigheden */
    /**************/
    /* Section 3 */
    /**************/
    section:nth-of-type(3) {
        margin: 1em 10em;
    }

    img[alt="Keisha op de computer"] {

        position: absolute;
        transform: rotate(-10deg);
        top: -8em;
        right: 0;
        width: 30%;
    }


    /*******************/
    /*     The circles */
    /*******************/

    .circle-gradients {
        background: rgb(2, 0, 36);
        background: linear-gradient(162deg, rgba(2, 0, 36, 1) 0%, rgba(193, 200, 234, 1) 0%, rgb(95, 186, 234) 100%);
        border-radius: 50%;
        position: absolute;
    }



    .circle-1 {
        height: 250px;
        width: 250px;
        top: -9.5em;
        left: -9.5em;
        z-index: -1;
    }

    /* 
.circle-2 {
    height: 350px;
    width: 350px;
    left: -10em;
    z-index: -1;
    top: 25em;
}

.circle-3 {
    z-index: 1;

    max-width: 50%;
    width: 40%;
    height: auto;

    top: 10em;
    right: -5em;

    /* background-image: url(../images/me-right-sider.png);
    background-repeat: no-repeat; */
}

/* 
.circle-3 img {
    max-width: 55%;
    width: 50%;
    height: auto;
}


.circle-4 {
    height: 350px;
    width: 350px;
    bottom: -55em;
    left: 5em;
}

.circle-5 {
    height: 350px;
    width: 350px;
    bottom: -65em;
    left: 50em;
}



.circle-code-pic  {
    object-fit: contain;
    background-image: url(../images/Artboard\ 1.png);
    background-repeat: no-repeat;
    clip-path: circle(50% at 50% 50%);
    position: absolute;


}

.circle1 {
    background-position: 45% 35%;
    background-size: 30em;
    height: 150px;
    width: 150px;
    right: -4em;
    top: -4em;
    z-index: -1;
}

.circle2 {
    background-position: 75% 35%;
    background-size: 60em;
    height: 400px;
    width: 400px;
    right: -4em;
    top: 70em;
    z-index: -1;
}

.circle3 {
    background-position: 55% 35%;
    background-size: 60em;
    height: 200px;
    width: 200px;
    transform: translateY(23em);
    left: -4em;
    z-index: 1;

}*/