 .apps-metadata h2 {
     font-size: 2em;
 }


 /******************/
 /* Eerste section */
 /******************/

 /********************************/
 /* Hier komt een quote te staan */
 /********************************/

 main section:first-of-type {

     margin: 5em 0;
     text-align: center;
 }

 /* Mijn visie */

 main section:first-of-type h1 {

     color: var(--light-blue-background-color);
     margin-bottom: .3em;
     font-family: 'lato',
         'dosis',
         ' arial',
         sans-serif;
     font-weight: 700;
     font-size: 3em;
 }


 /* de visie tekst */
 main section:first-of-type p {
     color: var(--bodytekst-color);
     line-height: 1.5em;
     font-size: 2em;

 }


 /***************************************************/
 /* Tweede section: De vormgeving van de smartphone */
 /***************************************************/

 main section:nth-of-type(2) {

     position: relative;
     display: flex;
     flex-direction: column;
     gap: 6em;
     padding-top: 6em;
     margin-bottom: 6em;
 }



 /* dit is de vormgeving titel */
 main h1:nth-of-type(2) span {
     color: white;
     background: rgb(2, 0, 36);
     background: linear-gradient(162deg, rgba(2, 0, 36, 1) 0%, rgba(193, 200, 234, 1) 0%, rgb(95, 186, 234) 100%);
     border-radius: 50%;
     position: absolute;
     height: 150px;
     width: 150px;
 }

 main section:nth-of-type(2) article {

     flex-direction: row;
     color: var(--bodytekst-color);

 }

 main section:nth-of-type(2) article a {
     margin: auto 0;
     width: 70%;
     padding: 4em 5em 4em 2em;
     background-color: white;
     -webkit-border-radius: 1.6em;
     -moz-border-radius: 1.6em;
     border-radius: 1.6em;
     -webkit-box-shadow: 13px 13px 15px -5px rgba(0, 0, 0, 0.3);
     box-shadow: 13px 13px 15px -5px rgba(0, 0, 0, 0.3);
 }

 main section:nth-of-type(2) article img {
     max-width: 60%;
     width: 25%;
     height: auto;
 }

 .titel {
     position: absolute;
     top: -2em;
     color: var(--dark-blue-background-color);
 }

 .titel span {
     font-size: 5em;

 }



 main section:nth-of-type(2) article h3 {
     color: var(--dark-blue-background-color);
     margin: 1em 0 0.5em 0;
 }

 /* main section:nth-of-type(2) article p {
    line-height: 1.5em;
}

main section:nth-of-type(2) article p {
    line-height: 1.5em;
} */






 /********************************/
 /* Section 3: Responsive Design */
 /********************************/
 section:nth-of-type(3) {
     position: relative;
     margin-bottom: 8em;
 }

 section:nth-of-type(3) h1 {
     text-align: center;
     font-size: 3em;
     margin: 2em 0 .5em 0;
 }

 section:nth-of-type(3) img {
     padding: 2em;
 }

 section:nth-of-type(3) article {
     margin: 0 40em;
     width: 50%;
     line-height: 1.5em;
 }



 /* section:nth-of-type(3) figure {
    display: flex;
    flex-direction: column;
    position: absolute;

} */

 section:nth-of-type(3) figure img {

     padding-bottom: 0;
     transition: 1s;
 }

 section:nth-of-type(3) figcaption,
 section:nth-of-type(4) figcaption {

     padding: 2em;
 }

 section:nth-of-type(3) figure img:hover {
     transform: scale(1.2);
 }



 section:nth-of-type(3) article .apps-metadata ul {
     margin: 1em 0;
 }


 section:nth-of-type(3) article h3 {
     color: var(--dark-blue-background-color);
     margin: 1em 0 0.5em 0;
 }



 @media (min-width: 110em) {
     section:nth-of-type(3) {
         margin-bottom: 8em;
     }

     section:nth-of-type(3) article {
         margin: 0 50em;
         width: 50%;
         line-height: 1.5em;
     }

 }




 /******************************/
 /* Section 4: Wattpad namaken */
 /******************************/
 section:nth-of-type(4) {
     position: relative;
     margin: 6em 0;
 }

 section:nth-of-type(4) h1 {
     text-align: center;
     font-size: 3em;
     margin: 2em 0 .5em 0;
 }



 section:nth-of-type(4) article {
     margin: 0 40em;
     margin-top: 2em;
     width: 50%;
     line-height: 1.5em;
 }

 section:nth-of-type(4) figure {

     flex-direction: row;


 }

 section:nth-of-type(4) figure img {
     max-width: 50%;
     transition: 1s;
 }


 section:nth-of-type(4) figure img:hover {
     transform: scale(1.2);
 }

 section:nth-of-type(4) article h3 {
     color: var(--dark-blue-background-color);
     margin: 1em 0 0.5em 0;
 }



 @media (min-width: 110em) {
     section:nth-of-type(4) img:first-of-type {
         margin-top: 3em;
     }

     section:nth-of-type(4) article {
         margin: 0 50em;
         margin-top: 2em;
         width: 50%;
         line-height: 1.5em;
     }

 }

 /************************/
 /* Section 5: Iteraties */
 /************************/
 section:nth-of-type(5) article figure {
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: relative;
     margin: 1em;

 }

 section:nth-of-type(5) article figure:first-of-type img {
     align-self: flex-start;
 }

 section:nth-of-type(5) article figure:first-of-type figcaption {
     position: absolute;
     top: 0;
     right: 0;
 }



 section:nth-of-type(5) article figure:nth-of-type(3) img {
     align-self: flex-end;
 }

 section:nth-of-type(5) article figure:nth-of-type(3) figcaption {
     position: absolute;
     left: 0;
     top: 0;
 }

 /***********************/
 /* Achtergrond Cirkels */
 /***********************/

 .circle-gradients figure {
     background: rgb(2, 0, 36);
     background: linear-gradient(162deg, rgba(2, 0, 36, 1) 0%, rgba(193, 200, 234, 1) 0%, rgb(95, 186, 234) 100%);
     border-radius: 50%;
     position: absolute;
 }



 .circle-1 {
     height: 250px;
     width: 250px;
     top: -4em;
     left: -4em;
     z-index: -1;
 }

 .circle-2 {
     height: 600px;
     width: 600px;
     left: -10em;
     z-index: -1;
     transform: translateY(10em);
 }

 .circle-3 {
     z-index: 1;
     height: 450px;
     width: 450px;
     right: -10em;
     transform: translateY(50em);
     /* background-image: url(../images/me-right-sider.png);
    background-repeat: no-repeat; */
 }

 .circle-3 img {
     max-width: 55%;
     width: 50%;
     height: auto;
 }


 .circle-4 {
     height: 350px;
     width: 350px;
     bottom: -55em;
     left: 5em;
 }

 .circle-5 {
     height: 350px;
     width: 350px;
     bottom: -65em;
     left: 50em;
 }



 .circle-code-pic figure {
     object-fit: contain;
     background-image: url(../images/Artboard\ 1.png);
     background-repeat: no-repeat;
     clip-path: circle(50% at 50% 50%);
     position: absolute;
 }

 .circle3 {
     background-position: 45% 35%;
     background-size: 30em;
     height: 150px;
     width: 150px;
     right: 7em;
     transform: translateY(4em);
     z-index: -1;
 }

 .circle4 {
     background-position: 75% 35%;
     background-size: 60em;
     height: 400px;
     width: 400px;
     right: -4em;
     transform: translateY(19em);
     z-index: 1;
 }