@font-face {
    font-family: 'chubbyregular';
    src: url('./fonts2/chubby-webfont.woff2') format('woff2'),
        url('./fonts2/chubby-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*::after,
*::before,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*************************/
/* Algemene kleurstijlen */
/*************************/
:root {
    --link-color: #8d8d8d;
    --highlighted-link-color: #8860d0;

    --light-blue-background-color: #a0c1ee;
    --dark-blue-background-color: #09183D;

    --button-color: #726dce;
    --highlighted-button-color: #bdb8ff;

    --bodytext-color: #5a5a5a;
    --bodytekst: 'lato', 'arial', sans-serif;
    --titel-tekst: 'dosis', sans-serif;
}

/********************/
/* Algemene stijlen */
/********************/

body {
    font-family: var(--bodytekst);
    font-weight: normal;
    /* margin: 2em; */
}



a {
    color: var(--link-color);
    text-decoration: none;
}

li {
    list-style: none;
}


/*************/
/* Navigatie */
/*************/


header ul {

    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding: 1em;
}

header li {
    transition: 0.5s;
}

header li:hover {
    transform: translate(0, -.5em);
}

header ul a {
    font-size: 1.2em;
    transition: 1s;
}

header ul a:hover {
    transition: 1s;
    color: var(--highlighted-link-color);
}